body {
    max-width: 1000px;
    margin: auto;
    color: #3D372F;
    background: #F9F5ED;
    font-size: 20px;
    font-family: Georgia, serif;
    font-kerning: normal;
    line-height: 1.5;
    hyphens: auto;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    padding: 1em;
}

div#content {
    margin: 64px;
}

@media only screen and (max-width: 800px) {
  div#content {
    margin: 8px;
  }
}

code {
    color: #FB4F4F;
    font-weight: bold;
}

h2 {
    margin-top: 1.4em;
}

.diagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.diagram {
    flex: 25%;
    max-width: 50%;
}

.diagram img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .diagram {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .diagram {
        flex: 100%;
        max-width: 100%;
    }
}
