body {
    max-width: 1000px;
    margin: auto;
    color: #1a1a1a;
    font-size: 20px;
    font-family: Georgia, serif;
    font-kerning: normal;
    line-height: 1.5;
    hyphens: auto;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    padding: 1em;
}


div#content {
    margin: 64px;
}

@media only screen and (max-width: 800px) {
  div#content {
    margin: 8px;
  }
}

code {
    color: #d45959;
    font-weight: bold;
}

h2 {
    margin-top: 1.4em;
}
